@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import "tailwindcss";

@theme {
  --color-primary: #0060B1;
  --color-primary-300: #005092;
  --color-primary-600: #004781;
  --color-primary-900: #003058;
  --color-secondary: #FF6500;
  --color-secondary-300: #DF5900;
  --color-secondary-600: #C14D00;
  --color-secondary-900: #A54200;
  --font-ubuntu: Ubuntu, sans-serif;
}
